{% extends 'base.html' %}
{% block mycontent %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <div class="card shadow p-4">
                <h2 class="text-center">Loyiha haqida</h2>
<p> Texnoman loyihasi axborot texnologiyalari, Internet, ijtimoiy media, Uznet, yuqori texnologiyalar, mobil qurilmalar hamda texnologiyalar bilan bog'liq kompaniyalar haqida yangiliklar, tahliliy maqolalar, xabarlar, ma'lumot berib borishga mo'ljallangan.

Endi saytimizda umumiy texnologiyalar olamiga oid barcha yangiliklar qo'yib boriladi. Foydalanuvchilarimiz bemalol o'z fikrlarini bildirishlari, o'zlarining shaxsiy bloglarida maqolalarini chop etishlari mumkin.

Texnoman loyihasi nafaqat sayt ma'muriyati tomonidan, balki foydalanuvchilar tomonidan ham rivojlantirib boriladi. Qolaversa, korporativ foydalanuvchilar ham o'z bloglarini ochib, kompaniyalari, mahsulotlari va xizmatlari haqida yangiliklar, maqolalar hamda e'lon qoldirib borishlari mumkin.

Loyihadan maqsad, o'zbek tilida texnologiyalar olamiga oid eng so'nggi yangiliklarni berib borish, biron mavzu doirasida tahlillar olib borish, foydalanuvchilar hamda o'quvchilar fikrlarini doimo inobatga olgan holda Uznet rivojiga hissa qo'shib borishdir. Eng asosiy maqsad esa, o'zbek yoshlarimizni texnologik saviyasini oshirish, yangiliklardan xabardor qilib turish, axborot texnologiyalariga oid bilimlarini kengaytirish va tajriba almashishdan iborat.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}