{% extends 'base.html' %}
{% block mycontent %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <div class="card shadow p-4">
                <h2 class="text-center">Telegram messenjerining siz bilmagan 20 xususiyati</h2>
<p> Agarda siz Telegramdagi faolligingiz vaqtini kontaktlaringizga ko'rsatmaslik amalini yoqib qo'ygan bo'lsangiz, yoki boshqa bir kontaktingiz ushbu amaldan foydalansa, uning qancha vaqtdan beri faol bo'lmaganligi haqida sizga ma'lumot beruvchi yozuvlarning sharxlari quyida keltirilgan:

Last seen recently - 1 soniya va 2-3 kun oralig'idagi vaqt
Last seen within a week - 2-3 kun va 7 kungacha bo'lgan vaqt
Last seen within a month - 6-7 kundan bir oy oralig'idagi vaqt
Last seen along time ago - bir oydan ko'p bo'lgan vaqtlarda (ushbu yozuvni bloklangan foydalanuvchilar doim ko'radi)
3. Yana bir maslahatimiz, siz faolligingizni ko'rishni ta'qiqlab qo'ygan bo'lsangiz ham sizga xabar kelganida uni o'qishingiz bilan siz xabar yuboruvchining messenjerida "Onlayn" holatiga o'tib qolasiz. Lekin "Onlayn" holatiga o'tmasdan turib xabar o'qish imkoni ham mavjud. Buning uchun sizga xabar kelishi bilanoq, Internetni o'chirib (Yoki Avtonom rejimini yoqib) kelgan xabarni o'qishingiz keyin esa qayta yoqib huddi o'qimagandek holatda turish.

4. Sizning telefon raqamingiz siz tanimaydigan insonlarda qachon paydo bo'lib qolishi mumkin?

Agarda siz birorta odamni telefon kontakti sifatida do'stlaringizga qo'shgan vaqtingizda;
Agarda sizning kontkatingizda bo'lmagan odam sizning xabaringizni birorta guruh yoki kanalda qayta yuborgan bo'lsa, sizning raqamingiz o'rnida "unknown" so'zi turadi;
Agar sizning raqamingiz kontakt sifatida ulashilgan bo'lsa.
5. Agarda Android telefoningizda o'qishni xohlamagan xabarlar haqida bildiruv uni ochmaguningizgacha kelaverayotgan bo'lsa, Settings -> Notifications and Sounds -> Repeat Notifications ga kirib turn repeated notifications off punktini tanlab qo'ying..</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}