{% extends 'base.html' %}
{% block mycontent %}
<div class="container my-5">
    <div class="row g-2">
        {% for post in posts %}
        <div class="col-12 col-md-12">
            <div class="card shadow p-4">
                <h4 style="text-align:justify;">
                    {{post.title}}
                </h4>
                <p>{{post.text}}</p>
                <a href="{% url 'article_detail-page' post.slug %}" class="btn btn-success w-25">ReadMore</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}